version: "3.9"

services:
  db:
    image: mysql:5.7
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root         
      MYSQL_DATABASE: afundamentos     
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql

  api:
    image: ejemplo-api:v1.0.0
    container_name: afundamentos-api
    restart: always
    ports:
      - "3000:3000"
    environment:
      PORT: 3000
      DB_HOST: db       
      DB_USER: root    
      DB_PASS: root   
      DB_NAME: afundamentos
    depends_on:
      - db

volumes:
  db_data:
